In [ ]:
# Multivariate Imputation
import numpy as np 
import pandas as pd 
from sklearn.impute import KNNImputer , SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
df = pd.read_csv('train.csv')[['Age' , 'Pclass' , 'Fare' , 'Survived']]

In [3]:
df.head()

    Age  Pclass     Fare  Survived
0  22.0       3   7.2500         0
1  38.0       1  71.2833         1
2  26.0       3   7.9250         1
3  35.0       1  53.1000         1
4  35.0       3   8.0500         0

In [4]:
X= df.drop(columns=['Survived'])
Y = df['Survived']

In [ ]:
X.isnull().mean()*100     # % of data missing

Age       19.86532
Pclass     0.00000
Fare       0.00000
dtype: float64

In [6]:
X_train , X_test , y_train , y_test = train_test_split(X , Y , random_state=42 , test_size=0.2)

In [8]:
X_train.head()

      Age  Pclass     Fare
331  45.5       1  28.5000
733  23.0       2  13.0000
382  32.0       3   7.9250
704  26.0       3   7.8542
813   6.0       3  31.2750

In [ ]:
knn_impute = KNNImputer(n_neighbors=5 , weights='distance')  # weights= distance , weighted sum for missing vallue
X_train_trf = knn_impute.fit_transform(X_train)
X_test_trf = knn_impute.transform(X_test)

In [23]:
clf = LogisticRegression()
clf.fit(X_train_trf , y_train)
y_pred = clf.predict(X_test_trf)
accuracy = accuracy_score(y_pred , y_test)

print(accuracy)

0.7430167597765364

In [24]:
# Comparision with Simple Imputer --> mean

si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [25]:
lr = LogisticRegression()

lr.fit(X_train_trf2,y_train)

y_pred2 = lr.predict(X_test_trf2)

accuracy_score(y_test,y_pred2)

0.7374301675977654