In [1]:
import numpy as np
import pandas as pd

In Naive Bays during Training Phase it just caluclate and create a lookup table of the  \
probablity of different condition of feature column  given class (Yes , No , or more than 2 class )\
If feature column is numerical then  we  assume that each column is following some   distribution (Gausian , Binomila , Multinomial , Poission) , after that we  calculate the \
Probablity for one of the given continous value in intrested fetaure column using pdf (probablity density distribution) . 

If faeture column has value categorical then we can directly calculate the probablity for given\
some condition , but if fetaure column has numerical value then we have to assume one of the above distribution , then at the time of inference we calculate the pdf for that continous \
value corresponding to each feature numrical column.

Assumption --->
Each Feature Column is Independent to Other columns , That's why it is called Naive Bayes

In [2]:
df = pd.read_csv("play_tennis.csv")

In [3]:
df.shape

(14, 6)

In [4]:
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [5]:
# Question 1
# find play ( yes or No) , if outlook = sunny , temp = Mild , humidty = Normal , wind = strong
# X = [Sunny , ,Mild , Normal , Strong]
# From Bayes Rule
# P(yes/sunny , Mild , Normal , Strong) = P(Sunny/Yes)*P(Mild/Yes)*P(Normal/Yes)*P(Strong/Yes)
# P(No/Sunny , Mild , Normal , Strong) =  P(Sunny/No)*P(Mild/No)*P(Normal/No)*P(Strong/No)

# Among 2 , which one is higher , that will be the prediction 

# So at the time of training it Just create the lookup tabel for each combination 
# and at the time of inferece it just fetch the required probablity and multiply it 
# this is true for categorical feature only

In [6]:
# For Numerical Feature instead ofX =[Sunny , Mild , Normal , Strong]  X-->[170 , 120 , 100 ,50] 
# and all value will in all 4 column will be numrical then we will have to assume some distribution
# corresponding to each column and values in a column will be divided in number k cluster 
# here k is no class , then each cluster will be assumed to follow some distribution 
# For Normal distribution f(x) = (1/(sigma*sqrt(2*pie)))*exp((-1/2)((x-mu)/sigma))**2)
# P(x=170/class=k) = (1/(sigma*sqrt(2*pie)))*exp((-1/2)((x-mu)/sigma))**2) , x=170

In [7]:
pd.crosstab(df['outlook'] , df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [8]:
prob_overcast_no = 0  # P(overcast/No)
pro_overcast_yes = 4/9 # P(overcast/yes)
prob_rain_no = 2/5
prob_rain_yes = 3/9
prob_sunny_no = 3/5
prob_sunny_yes = 2/9

In [9]:
pd.crosstab(df['temp'] , df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [10]:
prob_cool_no = 1/5
prob_cool_yes = 3/9
prob_hot_no = 2/5
prob_hot_yes = 2/9
prob_mild_no = 2/5
prob_mild_yes = 4/9

In [11]:
pd.crosstab(df['humidity'] , df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [15]:
prob_high_no = 4/5
prob_high_yes = 3/9
prob_normal_yes = 1/5
prob_normal_no = 6/9

In [13]:
pd.crosstab(df['wind'] , df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [14]:
prob_strong_no = 3/5
prob_strong_yes = 3/9
prob_weak_no = 2/5
prob_weak_yes = 6/9

In [16]:
# P(yes/sunny , Mild , Normal , Strong) = P(Sunny/Yes)*P(Mild/Yes)*P(Normal/Yes)*P(Strong/Yes)
# P(No/Sunny , Mild , Normal , Strong) =  P(Sunny/No)*P(Mild/No)*P(Normal/No)*P(Strong/No)
prob_yes_s_m_n_s = prob_sunny_yes*prob_mild_yes*prob_normal_yes*prob_strong_yes
prob_no_s_m_n_s = prob_sunny_no*prob_mild_no*prob_normal_no*prob_strong_no

print(prob_yes_s_m_n_s , prob_no_s_m_n_s)

0.006584362139917695 0.09599999999999999

In [17]:
# So prediction is , for given condition play will be "No"